/*****************************
 *                           *
 *         Fonts             *
 *                           *
 *************************** */

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oxanium&display=swap");
/*****************************
 *                           *
 *         Root              *
 *                           *
 *************************** */

:root {
  --main-bg: #ffffff;
  --main-dark-bg: #374455;
  --main-gray-color: #f9f9f9;
  --main-dark-gray: #9e9d9d;
  --main-vivid-color: #f0ad46; /*#fbb710*/
  --main-cool-green-color: #76d3c9;
  --main-cool-blue-color: #a0aeb8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-text-title {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--main-dark-gray);
  font-weight: none !important;
  border-left: 5px solid #f0ad46;
  padding-left: 0.9rem;
  line-height: 4rem;
}

.text-blue {
  color: var(--main-vivid-color);
}

.text-green {
  color: var(--main-cool-green-color) !important;
}

/*****************************
 *                           *
 *         NavBar            *
 *                           *
 *************************** */
.logo {
  width: 5rem;
}
.main-navbar {
  border-bottom: 1px solid var(--main-cool-blue-color);
  background-color: #ffffff;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  margin-bottom: 30rem !important;
  padding: 1rem;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: var(--main-vivid-color);
  height: 4px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}
.nav-toggle-label span:hover {
  cursor: pointer;
}

.nav-links {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.nav-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-links li {
  margin-bottom: 1em;
  /* margin-left: 1em; */
}
.nav-links .style-links {
  color: var(--main-cool-blue-color);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav-toggle {
  z-index: -1;
  display: none;
}

.nav-toggle:checked ~ .nav-links {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ .nav-links .style-links {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

.style-cart {
  font-size: 1.5rem;
  padding: 0.6rem;
  color: var(--main-vivid-color);
  transition: 0.4s;
}
.style-cart:hover {
  color: var(--main-cool-blue-color);
  padding: 0.6rem;
  transition: 250ms ease-in-out 250ms;
}

@media screen and (min-width: 1200px) {
  .nav-toggle-label {
    display: none;
  }

  .main-navbar {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  .nav-links {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 1rem;
  }

  .nav-links ul {
    display: flex;
  }

  .nav-links li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  .nav-links .style-links {
    opacity: 1;
    position: relative;
  }

  .nav-links a.style-links::before {
    content: "";
    display: block;
    height: 5px;
    background: var(--main-vivid-color);
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  .nav-links .style-links:hover::before {
    transform: scale(1, 1);
  }
}

.ghost {
  position: relative;
  width: 100vw;
  height: 20vh;
}
/*****************************
 *                           *
 *      End-NavBar           *
 *                           *
 *************************** */

/*****************************
 *                           *
 *      Products Page        *
 *                           *
 *************************** */

.product-list-holder {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.card-main-container {
  width: 40vw;
  height: 40vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
}

.products-container {
  background: transparent;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.product-left img {
  width: 100%;
  height: auto;
}

.product-center {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.product-center h2 {
  margin: 0;
  margin-top: -2rem;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  color: var(--main-cool-blue-color);
  text-transform: capitalize;
}
.product-center h2 span {
  margin: 0;
  margin-top: -2rem;
  font-size: 1.3rem;
  font-weight: bolder;
  color: #dd9e40;
  text-transform: capitalize;
}

.product-add-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-transform: capitalize;
}

/**********************************
*          Button Style           *
***********************************/

.btn-holder {
  display: flex;
  flex-direction: row;
  margin-top: 3.5rem !important;
}

.btn-details,
.btn-add-cart {
  height: auto;
  padding: 0.8rem;
  border: 1px solid var(--main-vivid-color);
  background-color: var(--main-vivid-color);
  color: var(--main-bg);
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0.5rem;
  transition: 0.4s;
  width: 13vw;
}
.in-cart {
  background-color: var(--main-cool-green-color);
  border: 1px solid var(--main-cool-green-color);
  color: var(--main-bg);
  height: auto;
  padding: 0.8rem;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0.5rem;
  transition: 0.4s;
}
.in-cart:hover,
.btn-details:hover,
.btn-add-cart:hover {
  cursor: pointer;
  color: var(--main-cool-blue-color);
  border: 1px solid var(--main-cool-blue-color);
  background: transparent;
}

/*****************************
 *                           *
 *   End-Products Page       *
 *                           *
 *************************** */

/*****************************
 *                           *
 *      Details Page         *
 *                           *
 *************************** */

.details-container {
  width: 90vw;
  height: 70vh;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
}
.details-right {
  height: 70vh;
  line-height: 2rem;
  padding: 1rem;
  text-transform: capitalize;
}
.details-right h1 {
  font-size: 2.3rem;
  color: var(--main-cool-blue-color);
}
.details-right h1 span {
  font-size: 2.3rem;
  color: var(--main-vivid-color);
}
.details-right h4 {
  margin-top: 1.5rem;
  line-height: 2.2rem;
  padding-left: 0.5rem;
  letter-spacing: 1px;
  color: var(--main-dark-bg);
}
.details-right h4 span {
  color: var(--main-cool-blue-color);
}
.details-right h4 strong {
  color: var(--main-cool-blue-color);
  font-weight: bold !important;
}

.details-right h5 {
  margin-top: 1.8rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
  padding-left: 0.5rem;
  letter-spacing: 1px;
  color: var(--main-dark-bg);
  border-left: 5px solid #76d3c9;
}

.details-right p {
  padding: 1.5rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
  letter-spacing: 1px;
  color: var(--main-dark-bg);
  text-transform: none;
}

/*****************************
*                           *
*    END-Details Page       *
*                           *
*************************** */

/*****************************
 *                           *
 *        User Login         *
 *                           *
 *************************** */

.user-login {
  margin-left: 3rem !important;
}
.user-login i {
  margin-left: 0.7rem !important;
  color: var(--main-vivid-color);
}

.user-login-container {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
}
.form-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #37445585;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  min-height: 50vh;
  background-color: #374455a8;
  margin-top: 4rem;
  padding: 1.5rem;
  margin-left: 11rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 25vw;
}

.form-group label {
  color: #ffffff;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}
.form-group label::after {
  content: "";
  max-width: 68vw;
  background: var(--main-vivid-color); /*darker blue AFTER*/
  display: block;
  margin: 0;
  margin-top: -0.3rem;
  padding: 0.12rem;
  z-index: -1;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  border: none;
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  font-size: 1.2rem;
  background-color: var(--main-bg);
  color: var(--main-dark-gray);
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
}

.login-img {
  width: 100px;
}

.login-img img {
  width: 50vw;
  height: auto;
}

.logo-type img {
  width: 10vw;
  height: auto;
}

/*****************************
 *                           *
 *     END - User Login      *
 *                           *
 *************************** */

/*****************************
 *                           *
 *     Cart Column Style     *
 *                           *
 *************************** */

.cart-columns-container {
  width: 95vw;
  min-height: 10vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #cad8e285;
}
.cart-columns-container p {
  font-size: 1.5rem;
  padding: 0 4.5rem;
  color: var(--main-cool-blue-color);
}

/*****************************
 *                           *
 *     END - Cart Column     *
 *                           *
 *************************** */

/*****************************
 *                           *
 *       Cart IS Empty       *
 *                           *
 *************************** */

.cart-is-empty {
  width: 95vw;
  min-height: 50vh;
  margin: auto;
  position: absolute;
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-is-empty-title {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.cart-is-empty-title h4 {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: var(--main-cool-blue-color);
  letter-spacing: 2px;
}

.cart-is-empty-img {
  width: 38vw;
}

.cart-is-empty-img img {
  width: 100%;
  height: auto;
}

.cart-items-container {
  width: 95vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}
.cart-items-container h4 {
  color: #3c4858;
  letter-spacing: 1px;
}
.cart-items-container h4 span {
  color: var(--main-cool-blue-color);
}
.cart-items-container h4 i {
  color: #bbccd8;
}

.cart-items-container h4 i:hover {
  color: var(--main-vivid-color);
  cursor: pointer;
}

.cart-item-space {
  font-size: 1.2rem;
  padding: 0 2.8rem;
}

.cart-item-img img {
  width: 15vw;
  height: auto;
}

.cart-item-btn {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
}
.cart-item-btn .mais,
.cart-item-btn .menos,
.cart-item-btn .quantity {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: var(--main-cool-blue-color);
}
.cart-item-btn .quantity {
  width: 3rem;
  height: auto;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bolder;
  border: 1px solid #bbc9d39a;
  padding: 0.5rem;
}
.cart-item-total h4 span {
  font-weight: bolder;
  font-size: 1.5rem;
  color: var(--main-vivid-color);
}
/*****************************
 *                           *
 *   END - Cart IS Empty     *
 *                           *
 *************************** */

/*****************************
 *                           *
 *    Cart Total price       *
 *                           *
 *************************** */

.cart-total-container {
  width: 95vw;
  margin: auto;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cart-total {
  width: 30.5vw;
  padding: 1rem;
  padding-right: 3rem;
  background-color: #374455e7;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cart-total-img {
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-total-img img {
  width: 8vw;
  height: auto;
}

.cart-total-items {
  padding-top: 1rem;
  text-align: right;
}
.cart-total-table {
  width: 100%;
  text-align: left;
}
.cart-total-table tr td {
  font-size: 1rem;
  line-height: 2rem;
  color: var(--main-bg);
}
.cart-total-table tr td span {
  margin-left: 2rem;
}

.total-price {
  color: #f7b85b;
}

/*****************************
 *                           *
 *   END - Cart Total price  *
 *                           *
 *************************** */

/*****************************
 *                           *
 *   404 Page-not-found      *
 *                           *
 *************************** */
.pageNotFound-container {
  width: 95vw;
  margin: auto;
  margin-top: -1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 999;
}

.pageNotFound-container h3 {
  font-family: "Oxanium";
  font-size: 1.7rem;
  margin: 2rem;
  color: #a0aeb8;
  letter-spacing: 5px;
}

.pageNotFound-img {
  width: 17vw;
  height: auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 2s;
  transition-timing-function: ease-in-out;
}

.go-to {
  visibility: hidden;
  width: 10rem;
  background-color: #384352b3;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  list-style: none;

  /* Position the tooltip */
  position: absolute;
  top: 25%;
  left: 59%;
  z-index: 500;
  transition: width 2s;
  transition-timing-function: ease-in-out;
}
.pageNotFound-img:hover .go-to {
  transition: 2s;
  transition-timing-function: ease-in-out;
  visibility: visible;
}

.pageNotFound-img img {
  width: 100%;
  height: auto;
  margin: auto;
}

.top-color {
  background-color: #fafafa;
  position: absolute;
  top: 8vh;
  left: auto;
  width: 100vw;
  height: 60vh;
  z-index: -5;
}

.bottom-color {
  position: absolute;
  top: 50vh;
  left: auto;
  width: 100vw;
  height: 50vh;
  background-color: #f2f2f2;
  z-index: -2;
}
.four-style-one {
  font-family: "Oxanium";
  font-size: 10rem;
  color: #dee8ee;
  position: absolute;
  top: 5%;
  left: 3%;
  z-index: -3;
}

.four-style-two {
  font-family: "Oxanium";
  font-size: 10rem;
  color: #dee8ee;
  position: absolute;
  top: 33%;
  left: 7%;
  z-index: -3;
}
.zero-style {
  font-family: "Oxanium";
  font-size: 10rem;
  color: #dee8ee;
  position: absolute;
  top: 19.5%;
  left: 6%;
  z-index: -3;
}

/*****************************
 *                           *
 * END - 404 Page-not-found  *
 *                           *
 *************************** */

/*****************************
 *                           *
 *      Image Gallery        *
 *                           *
 *************************** */
.image-gallery-direction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.image-gallery-container {
  width: 50%;
  height: 30vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.products-container {
  background: transparent;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.product-left img {
  width: 100%;
  height: auto;
}

.product-center {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.product-center h2 {
  margin: 0;
  margin-top: -2rem;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: var(--main-cool-blue-color);
  text-transform: capitalize;
}
.product-center h2 span {
  margin: 0;
  margin-top: -2rem;
  font-size: 1.1rem;
  font-weight: bolder;
  color: #dd9e40;
  text-transform: capitalize;
}

.product-add-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-transform: capitalize;
}

/**********************************
*     Button Style Gallery        *
***********************************/

.btn-details-gallery,
.btn-add-cart-gallery {
  height: auto;
  padding: 0.5rem;
  border: 1px solid var(--main-vivid-color);
  background-color: var(--main-vivid-color);
  color: var(--main-bg);
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0.5rem;
  transition: 0.4s;
  width: 7vw;
}
.in-cart-gallery {
  background-color: var(--main-cool-green-color);
  border: 1px solid var(--main-cool-green-color);
  color: var(--main-bg);
  height: auto;
  padding: 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0.5rem;
  transition: 0.4s;
}
.in-cart-gallery:hover,
.btn-details-gallery:hover,
.btn-add-cart-gallery:hover {
  cursor: pointer;
  color: var(--main-cool-blue-color);
  border: 1px solid var(--main-cool-blue-color);
  background: transparent;
}

/*****************************
 *                           *
 *    END - Image Gallery    *
 *                           *
 *************************** */

/*****************************
 *                           *
 *          HOME             *
 *                           *
 *************************** */

/*******************************
  *        SlideShow   
  *******************************/

.slide-container {
  margin-top: -4rem !important;
  width: 90%;
  margin: auto;
}

h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 80vh;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 95%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

/*******************************
*       END - SlideShow    
*******************************/

/*******************************
*          Shop icons    
*******************************/

.main-services {
  overflow-y: hidden !important;
  padding: 1rem;
  width: 100vw;
  margin: auto;
  min-height: 50vh;
  background-color: #a0aeb8;
  color: #3c4858;
  z-index: -2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none !important;
}

.main-services h1 {
  font-family: "Open Sans", sans-serif !important;
  text-transform: uppercase;
  font-size: 2.7rem;
  letter-spacing: 0.7rem;
  margin-bottom: 4rem;
  margin-top: 3rem;
  color: #ffffff;
  list-style: none !important;
}

.body-icon-container {
  width: 70vw !important;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none !important;
}
.body-icon-container a {
  text-decoration: none !important;
}

.icon-item {
  width: 18vw;
  height: 20vh;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #3c4858;
  color: #3c4858;
  list-style: none !important;
}

.icon-item:hover {
  border: 1px solid #fccb81;
  color: #fccb81;
  list-style: none !important;
  text-decoration: none;
}

.icon-item-top i {
  color: #3c4858;

  font-size: 3rem;
  margin-bottom: 1rem;
  list-style: none !important;
}
.icon-item-info h3 {
  color: #3c4858;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  list-style: none !important;
}

/*******************************
*       END - Shop icons    
*******************************/

/*******************************
*        Home Featured    
*******************************/

.home-featured-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.featured-img-container {
  width: 100vw;
  min-height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-img-holder {
  padding: 0;
  width: 45%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.left-img-holder img {
  width: 100%;
  height: auto;
}

.right-img-holder {
  width: 45%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.right-img-holder h2,
.left-img-holder2 h2 {
  font-size: 3.5rem;
  line-height: 7rem;
  color: var(--main-dark-bg);
}

.right-img-holder h3,
.left-img-holder2 h3 {
  font-size: 1.8rem;
  line-height: 3rem;

  color: var(--main-cool-blue-color);
}

.right-img-holder h4,
.left-img-holder2 h4 {
  font-size: 1.2rem;
  line-height: 3rem;
  color: var(--main-dark-bg);
}

.left-img-holder2 {
  width: 45%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.right-img-holder2 {
  padding: 0;
  width: 45%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/*******************************
*     END - Home Featured    
*******************************/
/*****************************
 *                           *
 *       END - Home          *
 *                           *
 *************************** */

/********************************************************************
 *                                                                  *
 *                      Media Query                                 *
 *                                                                  *
/********************************************************************/

@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}
