/*****************************
 *                           *
 *         Fonts             *
 *                           *
 *************************** */

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/*****************************
 *                           *
 *         Root              *
 *                           *
 *************************** */

:root {
  --main-bg: #ffffff;
  --main-dark-bg: #232f3e;
  --main-gray-color: #f9f9f9;
  --main-dark-gray: #9e9d9d;
  --main-vivid-color: #f0ad46;
  --main-cool-green-color: #76d3c9;
  --main-cool-blue-color: #a0aeb8;
}

body {
  font-family: "Open Sans", sans-serif !important;
}
.app-text-title {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 3rem;
  color: var(--main-dark-gray);
  font-weight: none !important;
}

.text-blue {
  color: var(--main-vivid-color);
}

.text-green {
  color: var(--main-cool-green-color) !important;
}

.logo {
  width: 5rem;
}

/*****************************
 *                           *
 *       Media Query         *
 *                           *
 *************************** */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */
  body {
    background-color: red !important;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
  body {
    background-color: green !important;
  }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
  body {
    background-color: blue !important;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles */
  body {
    background-color: gold !important;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Styles */
  body {
    background-color: purple !important;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* Styles */
  body {
    background-color: coral;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
  body {
    background-color: white !important;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
  body {
    background-color: black !important;
  }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
  body {
    background-color: red !important;
  }
}
